* {
  margin: 0;
  padding: 0;
}
body {
  background: #d1c2efa8;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  padding: 10px;
}
input {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
h1, h2{
  text-shadow: 1px 3px 4px black;
}
a{
  text-decoration: none;
  font-style: italic;
}
button {
  border: none;
  background-color: #d1c2efa8;
  color: rgb(29, 4, 32);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}
footer{
  margin: 10px;
}
